{% load static %}
<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% block title %}Épinal Guide{% endblock %}</title>

    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Eigenes CSS -->
    <link rel="stylesheet" href="{% static 'guide/style.css' %}">
</head>

<body>

    <!-- Obere Leiste -->
    <header>
        <a href="{% url 'home' %}" class="logo">Épinal Guide</a>

        <a href="#" class="login">Login</a>
    </header>


    <!-- Hauptbereich -->
    <div class="layout">

        <!-- Linke Seitenleiste -->
        <aside class="sidebar">

            <a href="{% url 'activities' %}" class="side-button">
                Aktivitäten
            </a>

            <a href="{% url 'favorites' %}" class="side-button">
                Favoriten
            </a>

            <a href="{% url 'add_activity' %}" class="side-button">
                + Aktivität hinzufügen
            </a>

        </aside>


        <!-- Inhalt der jeweiligen Seite -->
        <main>
            {% block content %}{% endblock %}
        </main>

    </div>


    <!-- Sprache -->
    <footer>
        <button class="language-button">DE / FR</button>
    </footer>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>